import "normalize.styl",
import "fonts.css",
body {
  font-family: 'Varela Round', sans-serif;
}
body {
  font-family: 'Varela Round', sans-serif;
}
header {
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}
header nav {
  width: 101.7%;
  margin: 20px auto;
  background-color: #0d5c2d;
}
.menu-bar {
  display: none;
}
header nav ul {
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}
header nav ul li span {
  margin-right: 10px;
}
header nav ul li a:hover {
  background: #0d7f2d;
}
section {
  padding: 20px;
}
footer {
  background: #e6e6e6;
  width: 101.7%;
  margin-left: -10px;
}
.footer-container-item1 {
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}
.footer-container-item1 a {
  text-decoration: none;
  color: #000;
}
.footer-container-item1 ul li {
  list-style: none;
}
.footer-container-item1 a:hover {
  text-decoration: none;
  color: #0d5c2d;
}
.icon-power {
  margin-right: 15px;
}
.footer-container-item2 {
  border-bottom: 1px solid #d3d3d3;
}
.footer-img img {
  background: #fff;
  margin: 15px auto;
  display: block;
  border-radius: 45%;
  border: 1px solid #6fb52b;
}
.footer-container-item2 p {
  text-align: center;
}
.footer-container-item3 ul {
  text-align: center;
}
.footer-container-item3 li {
  list-style: none;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
/*---------ESTILOS INDEX.HTML----------------------------------*/
.main-container {
  position: relative;
}
.slide-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.slides {
  width: 100%;
}
.slides img {
  width: 100%;
}
.slidesjs-pagination {
  background: #c8c8c8;
  list-style: none;
  overflow: hidden;
  margin-top: 0;
}
.slidesjs-pagination li {
  float: left;
}
.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
.slidesjs-pagination li a:hover {
  background: #0d5c2d;
}
.slides .active {
  background: #0d5c2d;
}
.slidesjs-navigation {
  background: #c8c8c8;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  float: right;
}
h1,
h2 {
  text-align: center;
}
.productos {
  display: flex;
  flex-wrap: wrap;
}
.producto {
  margin: 0 auto;
  margin-bottom: 70px;
  width: 270px;
  height: 370px;
  border-radius: 15px;
  border: 1px solid #ccc;
}
.producto p {
  text-align: center;
}
.producto-img {
  margin-left: 10px;
  margin-top: 8px;
}
.producto-img img {
  border-radius: 15px;
}
.main-container-contact {
  display: flex;
  flex-wrap: wrap;
}
.form {
  margin: 10px;
}
.contact-article {
  margin: 0 auto;
  border: 2px solid #ccc;
  width: 300px;
}
.contact-article div,
input,
textarea {
  width: 90%;
}
.contact-article input,
textarea {
  text-align: center;
}
.contact-article-p {
  color: #ff2d42;
}
h3 {
  margin-left: 5px;
}
.btn-small-input {
  text-align: center;
  margin-bottom: 15px;
  margin-left: 30px;
  color: #fff;
  border-radius: 12px;
  border-style: none;
  width: 200px;
  height: 30px;
  background-color: #009fe3;
}
.contact-article a {
  text-decoration: none;
}
.icon-facebook3 {
  color: #3b5998;
  font-size: 24px;
}
.icon-twitter3 {
  color: #55acee;
  font-size: 24px;
}
/*---------CLASES UTILITARIAS----------*/
.no-border {
  border-style: none;
}
.active {
  background: #0d7f2d;
}
.btn-small {
  margin-left: 90px;
  color: #fff;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-style: none;
  width: 100px;
  height: 30px;
  background-color: #009fe3;
}
.btn-small:hover {
  border-radius: 0 12px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.border-bot {
  border-bottom: 1px solid #ccc;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-right {
  border-right: 1px solid #ccc;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<DISPOSITIVOS MOVILES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
@media screen and (max-width: 700px) {
  header nav {
    width: 75%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    z-index: 11;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .menu-bar {
    display: block;
    width: 100%;
    background: #ccc;
  }
  .menu-bar .btn-menu {
    display: block;
    padding: 20px;
    background-color: #0d5c2d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu-bar span {
    float: right;
    font-size: 40px;
  }
  .slidesjs-pagination {
    display: none;
  }
  .slides {
    background: #c8c8c8;
    border-radius: 20px;
  }
  .slides img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 1px solid #ccc;
    z-index: -1;
    position: absolute;
  }
  .slidesjs-navigation {
    border-left: 1px solid #ccc;
  }
  .producto {
    margin-bottom: 12px;
  }
  .contact-article {
    margin-bottom: 10px;
  }
}
